header {
  background-color: #cfeecf;
  display: grid;
  margin: 15px; }
  header .menu-principal {
    background-color: #ead2d2; }

main {
  margin: 30px;
  padding: 1rem;
  text-align: center;
  background-color: #ead2d2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px; }

section {
  background-color: #c0c0e6;
  margin: 10px;
  padding: 15px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  section .ubicacion {
    padding: 20px; }

footer {
  background-color: #121213;
  padding: 1rem; }
  footer h4 {
    color: bisque;
    text-align: center; }
  footer h5 {
    color: greenyellow;
    text-align: center; }
  footer a {
    align-items: center;
    color: #c0c0e6; }
