$standard: (
    color-standard: white,
    bg-standard: red,
    border-standard: 3px solid black,
);

$premiun: (
    color-premiun: black,
    bg-premiun: whitesmoke,
    border-premiun: 2px light blue,
);